---
name: Lint

on: [push]

jobs:
  super-lint:
    name: Lint with Super-Linter
    runs-on: ubuntu-latest

    steps:
      # Checks out a copy of your repository on the ubuntu-latest machine
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # Full git history needed to get proper list of changed files
          fetch-depth: 0

      # Runs the Super-Linter action
      - name: Run Super-Linter
        uses: docker://ghcr.io/github/super-linter:slim-v4
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MARKDOWN_CONFIG_FILE: .markdownlint.json
          # Always check all the content
          VALIDATE_ALL_CODEBASE: true
          # No need to waste resources looking for copy/paste
          VALIDATE_JSCPD: false
          # Debug super-linter
          ACTIONS_RUNNER_DEBUG: false
          # Fail on errors
          DISABLE_ERRORS: false
